## Netdata
DISABLE_TELEMETRY=1
DO_NOT_TRACK=1

# Required parameter, can be obtained by command
# getent group docker | cut -d: -f3
# stat -c %g /var/run/docker.sock
PGID=

# Required parameter, can be obtained by command
# systemd-detect-virt -v
VIRTUALIZATION=none
