# https://github.com/ngoduykhanh/wireguard-ui

# The default interface addresses (comma-separated-list) for the WireGuard server configuration. (default 10.252.1.0/24)
WGUI_SERVER_INTERFACE_ADDRESSES=10.252.1.0/24

# The default server post-up script.
WGUI_SERVER_POST_UP_SCRIPT=

# The default server post-down script.
WGUI_SERVER_POST_DOWN_SCRIPT=

## Server configuration
# Used to encrypt the session cookies. Set this to a random value.
SESSION_SECRET=

# The username for the login page. (default admin)
WGUI_USERNAME=admin

# The password for the user on the login page. (default admin)
WGUI_PASSWORD=admin

# The default endpoint address used in global settings. (default is your public IP address)
# WGUI_ENDPOINT_ADDRESS=

# The default DNS servers (comma-separated-list) used in the global settings. (default 1.1.1.1)
# WGUI_DNS=

# The default MTU used in global settings. (default 1450)
WGUI_MTU=1450

# The default persistent keepalive for WireGuard in global settings. (default 15)
WGUI_PERSISTENT_KEEPALIVE=15

# The default WireGuard forward mark. (default 0xca6c)
# WGUI_FORWARD_MARK=

# The default WireGuard config file path used in global settings. (default /etc/wireguard/wg0.conf)
WGUI_CONFIG_FILE_PATH=/etc/wireguard/wg0.conf

# Set this variable if you run wireguard-ui under a subpath of your reverse proxy virtual host (e.g. /wireguard))
BASE_PATH=/

## Client configuration
# Comma-separated-list of CIDRs for the Allowed IPs field. (default 0.0.0.0/0)
WGUI_DEFAULT_CLIENT_ALLOWED_IPS=0.0.0.0/0

# Comma-separated-list of CIDRs for the Extra Allowed IPs field. (default empty)
WGUI_DEFAULT_CLIENT_EXTRA_ALLOWED_IPS=

# Boolean value [0, f, F, false, False, FALSE, 1, t, T, true, True, TRUE] (default true)
WGUI_DEFAULT_CLIENT_USE_SERVER_DNS=true

# Boolean value [0, f, F, false, False, FALSE, 1, t, T, true, True, TRUE] (default true)
WGUI_DEFAULT_CLIENT_ENABLE_AFTER_CREATION=true
